* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1140px;
    margin: auto;
}

.promo {
    /* Фон с картинкой */
    background-image: url("../img/main_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 800px;
    padding: 50px 0;
}

.promo h1 {
    font-size: 41px;
    text-align: center;
    text-transform: uppercase;
    color: #f9bf3b;
}

.promo h1 span {
    display: block;
    font-size: 80px;
    color: white;
}

.promo p {
    font-size: 21px;
    color: #fff;
    text-align: center;
    margin-top: 30px;
}

.logo {
    text-align: center;
    margin-bottom: 50px;
}

.logo_slogan {
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    margin-top: 10px;
}

.button {
    width: 313px;
    height: 72px;
    background: #3AB6DA;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    display: block;
    margin: 50px auto 0;
    cursor: pointer;
    /* border-radius: 40px; */
    border: 0px;
    transition: all 0.5s;
    box-shadow: inset 0 0 0 #1A1A1A;
}

.button:hover {
    background: #f9bf3b;
    color: black;
    transform: translateY(-5px);
    box-shadow: inset 3px 3px 3px #1A1A1A;
}
.button:active {
    background: #4A4A4A;
}

.flex-container {
    height: 500px;
    /* flex-box  */
    display: flex;

    /* Вараванивание по горизонтали 
    flex-start/flex-end/center/space-between/space-around */
    justify-content: space-between;
    /* Вараванивание по вертикали flex-start/flex-end/center/stretch */
    align-items: center;
    /* колонами или в строку */
    flex-direction: row;

    flex-wrap: wrap;
}

.flex-item {
    width: 150px;
    height: 150px;
    background-color: red;
    margin: 10px;
}

.intensive {
    height: 607px;
    background-color: #EFEFEF;
    text-align: center;
    padding: 88px 0 75px;
}

.intensive h2 {
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #252525;
}


.line {
    width: 220px;
    height: 4px;
    background: #F9BF3B;
    margin: 10px auto;
}

.intensive_desc {
    font-weight: 400;
    font-size: 23px;
    line-height: 20px;
}

.intensive_box {
    display: flex;
    margin-top: 43px;
}

.intensive_item {
    width: 33.3%;
}

.intensive_item p {
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    margin-top: 26px;
}

.about {
    min-height: 545px;
    /* background: url("../img/woman_bg.png") no-repeat 115px bottom;
    background-size: 50%; */
    
}

.about_content {

    padding-left: 480px;
    padding-top: 92px;
    padding-bottom: 78px;
    /* padding: 92px 0 50px 480px; */

}
.about .container {
    position: relative;
}

.about_img {
    position: absolute;
    left: -150px;
    bottom: 0;
    z-index: -1;
    width: 868px;
    height: 502px;
}





.about_content h2 {
    font-weight: 900;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    color: #299CBD;

    margin-bottom: 33px;
}

.about_content p {
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: #4A4A4A;

    margin-bottom: 23px;
}

.skills {
    /* Фон с картинкой */
    background-image: url("../img/second_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 450px;
    padding: 50px 0;
    text-align: center;
}

.skills h2 {
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #EFEFEF;
}

.skills_container {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
}

.skills_img {
    width: 118px;
    height: 118px;
    background: #B4E2FF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.skills_item p {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color: #EFEFEF;
    margin-top: 25px;
}

.skills_item {
    width: 20%;
    padding: 0 20px;
}

.gift {
    background-color: #EFEFEF;
    width: auto;
    height: 631px;
    text-align: center;
}

.gift img {
    width: 154px;
    height: 174px;
}

.gift_block {
    padding-top: 85px;
}

.gift h3 {
    padding-top: 45px;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;

}

.gift button {
    margin-top: 50px;
}

.first {
    height: 514px;
    text-align: center;
}

.first h3 {
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    padding-top: 30px;


    text-transform: uppercase;

    color: #299CBD;
}

.first h4 {
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;

    text-transform: uppercase;

    color: #252525;
    padding-top: 35px;
}

.first h5 {
    font-weight: 400;
    font-size: 23px;
    line-height: 20px;
    padding-top: 25px;


    color: #4A4A4A;
}

.first_block {
    padding-top: 89px;
}

.first img {
    width: 342px;
    height: 201px;
}

.footer {
    width: auto;
    height: 169px;


    background: #1A1A1A;
}

.footer p {
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;

    text-align: center;


    color: #888888;
}

.footer_tl {
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;

    text-align: center;


    color: #888888;

}



.footer_block {
    padding-top: 55px;
}

.footer a {
    color: #888888;
}

.tttt {
    position: relative;
}

.promo h1 .before,
.promo h1 .after {
    position: absolute;
    left: 0;
    top: 50%;
    width: 292px;
    height: 2px;
    background: #FFFFFF;
}

.promo h1 .after {

    right: 0;
    left: auto;

}